<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meme Rabbit</title>
    <link rel="stylesheet" href="../pages/style.css" />
    <link rel="shortcut icon" href="../pages/favicon_io/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="w-full grid place-items-center pt-6">
      <div class="w-[85%] pl-4 fixed top-8">
        <a href="../index.html" class="rounded-xl p-4 mx-auto bg-[#C3A576] text-white">Back to Home</a>
      </div>
    </div>

    <section class="w-full h-full grid place-items-center mt-12 smm:p-1 p-4">
      <div class="grid place-items-center place-content-center grid-cols-1 gap-4 w-full">
        <div class="w-[85%] mdn:w-full h-full p-4 flex-col justify-start items-start">
          <div class="w-full flex justify-start items-start ">
            <div class="learnPic1">
              <img src="../pages/assets/howToBuyOne.png" alt="" />
            </div>
          </div>
          <div
            class="learnToBuy"
          >
            <h1 class="learToBuyText">
              1. Install Metamask Wallet
            </h1>
            <h3 class="text-black mdd:text-base p-4 text-xl">
              Install metamask on your mobile device or on your computer to
              start buying $RAT Tokens on the Orenium Network
            </h3>
          </div>
        </div>
        <div class="w-[85%] mdn:w-full h-full p-4 flex-col justify-start items-start">
          <div class="w-full flex justify-start items-start">
            <div class="learnPic1">
              <img src="../pages/assets/howToBuyTwo.png" alt="" />
            </div>
          </div>
          <div
            class="learnToBuy"
          >
            <h1 class="learToBuyText">
              2. Buy ORE coin & Bridge to ORC20
            </h1>
            <h3 class="text-black mdd:text-base tracking-wider p-4 text-xl">
              Buy ORE coins on Pancakeswap BEP20 network, then after making the
              purchase, bridge ORE coins from BEP20 network to ORC20.
            </h3>
          </div>
        </div>
        <div class="w-[85%] mdn:w-full h-full p-4 flex-col justify-start items-start">
          <div class="w-full flex items-start justify-start">
            <div class="learnPic1">
              <img src="../pages/assets/howToBuyThree.png" alt="" />
            </div>
          </div>
          <div
            class="learnToBuy"
          >
            <h1 class="learToBuyText">
              3. Buy AT Oredex
            </h1>
            <h3 class="text-black mdd:text-base tracking-wider p-4 text-xl">
              After you successfully bridge ORE coin, you can access
              https://swap-mainnet.oredex.finance/ and enter $RAT SMART CONTRACT
              in the Swap field.
            </h3>
          </div>
        </div>
        <div class="w-[85%] mdn:w-full h-full p-4 flex-col justify-start items-start">
          <div class="w-full flex items-start justify-start">
            <div class="learnPic1">
              <img src="../pages/assets/howToBuyFour.png" alt="" />
            </div>
          </div>
          <div
            class="learnToBuy sm:overflow-x-scroll"
          >
            <h1 class="learToBuyText">
              4. Add $RAT to your Wallet
            </h1>
            <div class="p-4">
                <h2 class="text-black text-xl">Add $RAT to your wallet</h2>
               
                <h2 class="text-black mdd:text-base pl-4 tracking-wider text-xl">Contract: 0x9185b45766ad9f034C9eDBDd5EcFC81310501E4b </h2>
                <h2 class="text-black mdd:text-base pl-4 tracking-wider text-xl">Decimal: 18</h2>
                <h2 class="text-black mdd:text-base pl-4 tracking-wider text-xl">Symbol: RAT</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="w-full grid place-items-end fixed bottom-0">
        <div>
            <a href="https://swap-mainnet.oredex.finance/swap" class="p-5 mr-4 rounded-xl mx-auto bg-[#C3A576] text-white">Buy $RAT</a>
        </div>
        <div class="flex space-x-4 p-5">
            <a href="https://t.me/memerabbitofficial">
                <img src="../pages/assets/imageTelegram.png" class="w-10 h-10 rounded-full" alt="metasmask">
            </a>
            <a href="https://x.com/MemeRabbitoff">
                <img src="../pages/assets/imageTwitter.png" class="w-10 h-10 rounded-full" alt="metasmask">
            </a>
            <a href="https://orescan.io/address/0x9185b45766ad9f034C9eDBDd5EcFC81310501E4b">
                <img src="../pages/assets/imageOre.png" class="w-10 h-10 rounded-full" alt="metasmask">
            </a>
            <a href="https://swap-mainnet.oredex.finance/swap">
                <img src="../pages/assets/imageOreDex.png" class="w-10 h-10 rounded-full" alt="metasmask">
            </a>
            <a href="https://metamask.io/download/">
                <img src="../pages/assets/imageMetamask.png" class="w-10 h-10 rounded-full" alt="metasmask">
            </a>
            <!--  -->
        </div>
    </footer>
  </body>
</html>
