@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .learnToBuy{
        @apply mt-4 rounded-xl mdn:w-full p-4 w-[70%] bg-gradient-to-t from-[#dabd90] to-[#C3A576]
    }

    .learToBuyText{
        @apply text-3xl mdd:text-lg font-medium capitalize font-sans
    }
}

body {
  background-image: url("../pages/assets/spottedBg.jpg");
  color: white;
}

.sidebar {
  display: none;
  background-color: black;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.carrotRabbit {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;

  /* left: 10; */
}

.carrotRabbit img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.picture1 img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.picture1 {
  width: 350px;
  height: 350px;
}

.learnPic1 img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }

.learnPic1{
    width: 350px;
    height: 197px;
}

@media only screen and (max-width: 650px) {
  .picture1 img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
  .picture1 {
    width: 230px;
    height: 230px;
  }

  .picture2 img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
  
  .picture2 {
    width: 100px;
    height: 100px;
  }
}

.picture2 img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.picture2 {
  width: 350px;
  height: 350px;
}

.footerImg img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.footerImg {
  width: 100px;
  height: 100px;
}

.tokenBg {
  background-image: url("../pages/assets/planeRabbit.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  background-attachment: fixed;
  background-position-y: center;
}
